<section class="informative-form-container">
  <form class="imformative-form">
    <label>Name</label>
    <input type="input" value="" placeholder="Juanita" />
    <label>Email</label>
    <input type="input" value="" placeholder="example@gmail.com" />
    <label>Information</label>
    <textarea name="" id=""></textarea>
    <input type="submit" value="Send" />
  </form>
</section>

<div class="container-sign">
  <p class="sign">Soribel S.B</p>
</div>
<div class="container-social-media">
  <ul>
    <li>ig</li>
    <li>link</li>
    <li>github</li>
  </ul>
</div>
