<nav class="menu">
    <ul class="menu-item-container">
        <a href="/index.html"><li class="menu-item">Index</li></a>
        <a href="/web-crawler/crawler.html"><li class="menu-item">Web crawler</li></a>
        <a href="/shopping-zone/shopping.html"><li class="menu-item">Shopping zone</li></a>
        <a href="/trip-planner/trip.html"><li class="menu-item">Trip planner</li></a>
        <a href="/book-search/book.html"><li class="menu-item">Book searcher</li></a>
    </ul>
</nav>

<div class="titles-container">
    <h1 class="title-page">Diva</h1>
    <h2 class="sub-title-page">Your personal search engine bot</h2>
</div>

<div class="portada-container">
    <div class="img-background">
        <img src="/imgs/diva-4.png" alt="">
    </div>
</div>

<div class="about-diva-container">
    <h3 class="know-diva-title">Would you like to know Diva?</h3>
    <a href="/about-diva.html"><button class="know-diva-btn">About Diva</button></a>
</div>